
@import url('https://fonts.googleapis.com/css2?family=Quantico:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.field-div {
  margin-left: auto;
  margin-right: auto;
}

table, th, td {
  border: 0px solid rgba(0, 0, 0, 0);
  border-collapse: collapse;
}

table {
  border: 2px solid grey;
}

td {
  width: 28px;
  height: 28px;
  min-width: 28px;
  min-height: 28px;
  max-width: 28px;
  max-height: 28px;
  margin: 0px;
  padding: 0px;

}

button {
  width: 100%;
  height: 100%;
  margin: 0px;
  margin-top: 0px;
  padding: 0px;
}


.icon {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

.opened-cell{
  box-shadow: inset 0 0 0 1px grey;
}

.closed-cell {
  margin-top: 0px;
  box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 1),
  inset -2px -2px 2px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

table button {
  box-sizing: border-box;
  text-align: center;
  outline: none;
  background: darkgrey;
  height: 100%;
  float: left;
  display: block;
  font-family: 'Press Start 2P', cursive;
  font-size: 75%;
}

table button:active {
  border-style: none;
}

.one {
  color: blue;
}

.two {
  color: green;
}

.three {
  color: Red;
}

.four {
  color: Purple;
}

.fife {
  color: Maroon;
}

.six {
  color: Turquoise;
}

.seven {
  color: Black;
}

.eight {
  color: Gray;
}
