.wrapper {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 255, 0, 0);
  left: 0px;
}

.message-container {
  left: 50%;
  top: 1%;
  transform: translate(-50%);
  position: absolute;
  width: 300px;
  height: 130px;
  border: 1px solid white;
  border-radius: 5px;
}

.loose {
    background: rgb(255, 4, 4);
}

.win {
    background: rgb(28, 199, 0);
}

.win-or-loose-text {
  text-align: center;
  width: 100%;
}

.restart-button-container {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  display: inline-block;
  width: 100px;
  height: 40px;
  border: 1px solid white;
  border-radius: 5px;
  text-align: center;
}

.restart-button-container .restart-button {
  width: 100%;
  height: 100%;
}

.restart-button-container .restart-button   button:hover {
  color: white;
  background: rgba(255, 255, 255, 0.7);
}
